<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CellLedLabelMgrDBEntities" connectionString="metadata=res://*/SqlServer.NetLabelMgrModel.csdl|res://*/SqlServer.NetLabelMgrModel.ssdl|res://*/SqlServer.NetLabelMgrModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=115.28.18.116;initial catalog=CellLedLabelMgrDB;persist security info=True;user id=sa;password=Liang239630866;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>