<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CellLedLabelMgrDBEntities" connectionString="metadata=res://*/SqlServer.NetLabelMgrModel.csdl|res://*/SqlServer.NetLabelMgrModel.ssdl|res://*/SqlServer.NetLabelMgrModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=115.28.18.116;initial catalog=CellLedLabelMgrDB;persist security info=True;user id=sa;password=Liang239630866;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  
  <appSettings>
    <!--判断是吧在线的时间间隔，如果超过这个时间都没有进行过一次通信，认为掉线-->
    <add key="Hdesc121Live" value="20" />
    <!--如果超过这个时间没有通信，那么需要主动发送心跳包-->
    <add key="Hdesc121SendHeadbeat" value="10" />
    <!-- 开机运行马上采集数据-->
    <add key="AutoGetDevData" value="1" />
    <!-- 开机运行马上连接数据中心进行数据上传-->
    <add key="AutoUploadData" value="1" />
    <!-- 与中心通信的配置参数 -->
    <!--PickupRate,采集速率,单位秒;StoredRecordNumber-->
    <add key="PickupRate" value="300" />
    <!-- <StoredRecordNumber="1000" StoredRecordPeriod="2" TimeOut="10" Key="123456789" /> -->
    <!--GateWay 基本信息配置  -->
    <add key="GW_GetDevDataRate" value="60" />
    <!-- 通信服务器配置 -->
    <!--是否使用无线上网卡-->
    <!--启动是否显示配置页面-->
    <add key="showConfig" value="1" />
    <add key="TCPPort" value="9600" />
    <add key="ConnSNReadTimeout" value="50000" />
    <add key="TCPTimeout" value="2000" />

    <!-- 使用组播技术实现的消息队列的组播地址和端口号-->
    <add key="GroupMsgBusPort" value="7202"/>
    <!-- 使用组播技术实现的消息队列的组播地址和端口号-->
    <add key="GroupMsgBusIp" value="224.0.0.23"/>

    <!-- 多少分钟执行一次数据库插入 -->
    <add key="AddToDbMinute" value="1"/>
    
  </appSettings>
  
</configuration>