@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Scripts.Render("~/bundles/easyui")
    @Styles.Render("~/Content/easyui")
    <style type="text/css">
        .line {
            height: auto;
            width: 100%;
            float: left;
            margin-bottom: 5px;
        }

        .lineText {
            width: auto;
            height: auto;
            margin: 0;
            padding: 0;
            float: left;
            margin-left: 10px;
            margin-bottom: 5px;
        }

        fieldset {
            float: left;
            width: auto;
            padding: 5px 5px 10px 5px;
            margin: 0 5px 0 5px;
            color: #333;
            margin: 0;
            padding: 0;
            border-radius: 5px;
            border: 1px solid #d0e5f6;
            padding-left: 15px;
            font-weight: bold;
            font-family: "微软雅黑";
        }

        .legen {
            border: 1px solid #d0e5f6;
            color: #d0e5f6;
            padding: 0;
            margin: 0;
            width: 100%;
        }

        .btn {
            width: 70px;
            height: 23px;
            border: none;
            color: white;
            background-color: #a1d5fc;
            border-radius: 5px;
            cursor: pointer;
        }

        #fm {
            margin: 0;
            padding: 10px 30px;
            font-family: 微软雅黑;
            font-size: 14px;
        }

        .ftitle {
            font-size: 14px;
            font-weight: bold;
            padding: 5px 0;
            margin-bottom: 10px;
            border-bottom: 1px solid #ccc;
        }

        .fitem {
            margin-bottom: 5px;
            height: 30px;
            line-height: 30px;
            padding: 0;
        }

            .fitem label {
                display: inline-block;
                width: 100px;
                font-weight: bold;
                font-family: '微软雅黑';
            }
    </style>
</head>
<body>
    <div class="line">
        <fieldset style="width: 99%;">
            <legend>
                Search
            </legend>
            <div class="lineText">
                <input id="ss" style="width: 280px;"></input>
                <div id="mm" style="width: 120px">
                    <div data-options="name:'key',iconCls:'icon-ok'">Keywords</div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="divForTable">
        <table id="tt" style="width: 99%; height: 660px;"></table>
    </div>
    <div id="dlg" class="easyui-dialog" style="width: 590px; height: 300px; padding: 5px 10px"
         data-options="closed:true,buttons:'#dlg-buttons',modal:true">
        <form id="dlg_form" method="post">
            <div class="fitem">
                <label>ProjectName:</label>
                <input name="ProjectName" id="ProjectName" class="easyui-textbox" data-options="required:true" style="width:400px;" />
            </div>
            <div class="fitem">
                <label>OrgName:</label>
                <input name="OrgId" id="OrgId" class="easyui-combobox" style="width:400px;" data-options="valueField:'ID',textField:'Name',editable:false,required:true" />
            </div>
            <div class="fitem">
                <label>GroupName:</label>
                <input name="GroupId" id="GroupId" class="easyui-combobox" style="width:400px;" data-options="valueField:'ID',textField:'Name',editable:false,required:true" />
            </div>
            <div class="fitem">
                <label>Address:</label>
                <input name="Address" id="Address" class="easyui-textbox" style="width: 400px;">
            </div>
            <div class="fitem">
                <label>ManagerName:</label>
                <input name="ManagerName" id="ManagerName" class="easyui-textbox" style="width: 400px;">
            </div>
            <div class="fitem">
                <label>ManagerTel:</label>
                <input name="ManagerTel" id="ManagerTel" class="easyui-textbox" style="width: 400px;">
            </div>
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="fSaveData()">
            Save
        </a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel"
           onclick="javascript:$('#dlg').dialog('close')">
            Cancel
        </a>
    </div>
    <script type="text/javascript" language="javascript">
        var vUrl;
        var vGroupUrl;
        $(document).ready(function () {
            fLoadTable();//加载参数
            $('#ss').searchbox({
                searcher: function (value, name) {
                    $('#tt').datagrid('reload', {
                        Method: 'SearchLoad',
                        Key: value
                    });
                },
                menu: '#mm',
                prompt: 'Please input Keywords'
            });
        });
        function fLoadTable() {
            $('#tt').datagrid({
                title: 'GroupList',
                url: 'Project/List',
                pagination: true,
                pageSize: 20,
                pagePosition: 'both',
                striped: true,
                //nowrap:false,
                //singleSelect: true,
                ctrlSelect: true,//在启用多行选择的时候允许使用Ctrl键+鼠标点击的方式进行多选Operation。
                rownumbers: true,
                queryParams: {
                    Method: 'FirstLoad'
                },
                columns: [[
                    { field: 'Id', checkbox: true, title: 'Id', align: 'center' },
                    { field: 'ProjectName', title: 'ProjectName', align: 'left', width: 150 },
                    { field: 'OrgName', title: 'OrgName', align: 'left', width: 150 },
                    { field: 'GroupName', title: 'GroupName', align: 'left', width: 150 },
                    { field: 'ManagerName', title: 'ManagerName', align: 'center', width: 150 },
                    { field: 'ManagerTel', title: 'ManagerTel', align: 'center', width: 150 },
                    {
                        field: 'CreateDt', title: 'CreateDt', align: 'center', width: 150, formatter: function (val) {
                            var vDt = timeStamp2String(val);
                            return vDt;
                        }
                    },
                    {
                        field: 'UpdateDt', title: 'UpdateDt', align: 'center', width: 150, formatter: function (val) {
                            var vDt = timeStamp2String(val);
                            return vDt;
                        }
                    }
                ]],
                toolbar: [{
                    text: 'Add',
                    iconCls: 'icon-add',
                    handler: function () {
                        $('#dlg').dialog('open').dialog('setTitle', 'Add Group');
                        $('#dlg_form').form('clear');
                        $('#OrgId').combobox({
                            url: 'Group/ListOrg',
                            onLoadSuccess: function () {
                                var data = $('#OrgId').combobox('getData');
                                if (data.length > 0) {
                                    $('#OrgId').combobox('select', data[0].ID);
                                }
                            },
                            onSelect: function (rec) {
                                var vUrl = 'Project/ListGroupBySearch&ProjectID=' + rec.ID;
                                $('#GroupId').combobox({
                                    url: vUrl,
                                    onLoadSuccess: function () {
                                        var data = $('#GroupId').combobox('getData');
                                        if (data.length > 0) {
                                            $('#GroupId').combobox('select', data[0].ID);
                                        }
                                        else {
                                            $('#GroupId').combobox('clear');
                                        }
                                    }
                                })
                            }
                        });
                        vUrl = 'Project/Add';
                    }
                }, {
                    text: 'Edit',
                    iconCls: 'icon-edit',
                    handler: function () {
                        var row = $('#tt').datagrid('getSelected');
                        if (row) {
                            $('#dlg').dialog('open').dialog('setTitle', 'EditGroupInformation');
                            $('#OrgId').combobox({
                                url: 'Group/ListOrg',
                                onLoadSuccess: function () {
                                    var data = $('#OrgId').combobox('getData');
                                    if (data.length > 0) {
                                        $('#OrgId').combobox('select', data[0].ID);
                                    }
                                },
                                onSelect: function (rec) {
                                    var vUrl = 'Project/ListGroupBySearch&ProjectID=' + rec.ID;
                                    $('#GroupId').combobox({
                                        url: vUrl,
                                        onLoadSuccess: function () {
                                            var data = $('#GroupId').combobox('getData');
                                            if (data.length > 0) {
                                                $('#GroupId').combobox('select', data[0].ID);
                                            }
                                            else {
                                                $('#GroupId').combobox('clear');
                                            }
                                        }
                                    })
                                }
                            });
                            $('#dlg_form').form('load', row);
                            vUrl = 'Project/Modify?Id=' + row.Id;
                        } else {
                            $.messager.alert('Tips', 'At lease chooese one.')
                        }
                    }
                }, '-', {
                    text: 'Delete',
                    iconCls: 'icon-remove',
                    handler: function () {
                        var ids = [];
                        var rows = $('#tt').datagrid('getChecked');
                        for (var i = 0; i < rows.length; i++) {
                            ids.push(rows[i].Id);
                        }
                        //alert(ids);
                        if (ids.length > 0) {
                            $.messager.confirm('Tips', 'Are you sure to delete this group information?', function (r) {
                                if (r) {
                                    vUrl = 'Project/Delete?ProjectIds=' + ids;
                                    $.ajax({
                                        type: "POST",
                                        url: vUrl,
                                        dataType: 'json',
                                        success: function (json) {
                                            if (json.Status == true) {
                                                $.messager.show({
                                                    title: 'Success',
                                                    msg: 'Delete Success！'
                                                });
                                                $('#dlg').dialog('close');
                                                // close the dialog
                                                $('#tt').datagrid('reload'); // reload the user data
                                            } else {
                                                $.messager.show({
                                                    title: 'Error',
                                                    msg: 'Delete Faile,please try again！'
                                                });
                                                $('#dlg').dialog('close');
                                                // close the dialog
                                                $('#tt').datagrid('reload'); // reload the user data
                                            }
                                        }
                                    });
                                }
                            });
                        }
                        else {
                            $.messager.alert('Tips', 'At lease chooese one.');
                        }
                    }
                }]
            });
        };

        function fSaveData() {
            $('#dlg_form').form('submit', {
                url: vUrl,
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (sjson) {
                    var json = eval('(' + sjson + ')');
                    if (json.Status == true) {
                        $.messager.show({
                            title: 'Success',
                            msg: json.Msg ? json.Msg : 'Operation Success！'
                        });
                        $('#dlg').dialog('close');     // close the dialog
                        $('#tt').datagrid('reload'); // reload the user data
                    } else {
                        $.messager.show({
                            title: 'Error',
                            msg: json.Msg ? json.Msg : 'Failed,please try again！'
                        });
                        $('#dlg').dialog('close');     // close the dialog
                    }
                },
                error: function () {
                    $.messager.show({
                        title: 'Error',
                        msg: json.Msg ? json.Msg : 'Failed,please try again！'
                    });
                    $('#dlg').dialog('close');     // close the dialog
                }
            });
        };
        function timeStamp2String(time) {
            time = time.replace(/\//g, '');
            time = time.substring(5, time.length - 1);
            var datetime = new Date();
            datetime.setTime(time);
            var year = datetime.getFullYear();
            var month = datetime.getMonth() + 1;
            var date = datetime.getDate();
            var hour = datetime.getHours();
            var minute = datetime.getMinutes();
            var second = datetime.getSeconds();
            var mseconds = datetime.getMilliseconds();
            return year + "-" + month + "-" + date + " " + hour + ":" + minute + ":" + second;
        };
    </script>
</body>
</html>
