<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NetLabelMgrSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50150/NetLableMgr_Login.asmx"
                binding="basicHttpBinding" bindingConfiguration="NetLabelMgrSoap"
                contract="NetLabelMgrWS.NetLabelMgrSoap" name="NetLabelMgrSoap" />
        </client>
    </system.serviceModel>
</configuration>
