<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="GlSysCloudWsSoap" />
        <binding name="GLSysMgrSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="GlSysCloudWsSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50150/GlSysCloudWs.asmx"
        binding="basicHttpBinding" bindingConfiguration="GlSysCloudWsSoap"
        contract="ServiceReference2.GlSysCloudWsSoap" name="GlSysCloudWsSoap" />
      <endpoint address="http://localhost:50150/GlSysCloudWs.asmx"
        binding="customBinding" bindingConfiguration="GlSysCloudWsSoap12"
        contract="ServiceReference2.GlSysCloudWsSoap" name="GlSysCloudWsSoap12" />
      <endpoint address="http://localhost:16801/GLSysMgr.asmx" binding="basicHttpBinding"
        bindingConfiguration="GLSysMgrSoap" contract="ServiceReference1.GLSysMgrSoap"
        name="GLSysMgrSoap" />
    </client>
    </system.serviceModel>
</configuration>
