@{
    Layout = null;
    ViewBag.Title = "Welcome to use Oil station LED integrated management system";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/easyui")
    @Styles.Render("~/Content/easyui")
    <style type="text/css">
        input {
            border: 1px solid #aaa;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            fLoadTable();//加载参数
            setTimeout(function () {
                var nodeid = getQueryString('nodeid');
                $('#tt').datagrid('reload', {
                    Method: 'FirstLoad',
                    NodeId: nodeid
                });
            }, 300);

        })

        // GetUrl的参数
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        };
        function fLoadTable() {
            $('#tt').datagrid({
                title: '',
                url: 'PriceControl/List',
                pagination: true,
                pageSize: 20,
                pagePosition: 'top',
                striped: true,
                //singleSelect: true,
                ctrlSelect: true,//在启用多行选择的时候允许使用Ctrl键+鼠标点击的方式进行多选Operation。
                rownumbers: true,
                columns: [[
                    { field: 'Id', checkbox: true, title: 'Id', align: 'center' },
                    { field: 'ProjectId', title: 'ProjectId', align: 'center', hidden: true },
                    { field: 'GroupId', title: 'GroupId', align: 'center', hidden: true },
                    { field: 'OrgId', title: 'OrgId', align: 'center', hidden: true },
                    { field: 'Name', title: 'Name', align: 'center' },
                    { field: 'Password', title: 'Password', align: 'center' },
                    { field: 'CommServerSn', title: 'CommServerSn', align: 'center' },
                    { field: 'CardScreenCount', title: 'CardScreenCount', align: 'center' },
                    { field: 'CardPointCount', title: 'PointCount', align: 'center' },
                    { field: 'CardIsDouble', title: 'IsDouble', align: 'center' },
                    { field: 'ProjectName', title: 'ProjectName', align: 'center' }
                ]],
                toolbar: [{
                    text: 'Batch Edit Oil Price',
                    iconCls: 'icon-add',
                    handler: function () {
                        var ids = [];
                        var rows = $('#tt').datagrid('getChecked');
                        for (var i = 0; i < rows.length; i++) {
                            ids.push(rows[i].Id);
                        }
                        alert(ids);
                        $('#dlgForBatch').dialog('open').dialog('setTitle', 'Batch Edit Oil Price');
                        $("#BatchIds").val(ids);
                        vUrl = 'PriceControl/SaveBatchOilPrice';
                    }
                }, {
                    text: 'Add',
                    iconCls: 'icon-add',
                    handler: function () {
                        $('#dlg').dialog('open').dialog('setTitle', 'Add Station Information');
                        $('#dlg_form').form('clear');
                        vUrl = 'PriceControl/Add';
                    }
                }, {
                    text: 'Edit',
                    iconCls: 'icon-edit',
                    handler: function () {
                        var rows = $('#tt').datagrid('getChecked');
                        if (rows.length > 1) {
                            $.messager.alert('Tips', 'please chooese only one..')
                            return;
                        }
                        var row = $('#tt').datagrid('getSelected');
                        if (row) {
                            $('#dlg').dialog('open').dialog('setTitle', 'Edit Station Information');
                            $('#dlg_form').form('load', row);
                            vUrl = 'PriceControl/Modify';
                        } else {
                            $.messager.alert('Tips', 'At lease chooese one.')
                        }
                    }
                }, '-', {
                    text: 'Delete',
                    iconCls: 'icon-remove',
                    handler: function () {
                        var row = $('#tt').datagrid('getSelected');
                        if (row) {
                            $.messager.confirm('Tips', 'Are you sure to delete this station information?', function (r) {
                                if (r) {
                                    vUrl = 'PriceControl/Delete';
                                    $.ajax({
                                        type: "POST",
                                        url: vUrl,
                                        success: function (json) {
                                            var json = eval('(' + json + ')');
                                            if (json.result == true) {
                                                $.messager.show({
                                                    title: 'Success',
                                                    msg: 'Delete Success！'
                                                });
                                                $('#dlg').dialog('close');
                                                // close the dialog
                                                $('#tt').datagrid('reload'); // reload the user data
                                            } else {
                                                $.messager.show({
                                                    title: 'Error',
                                                    msg: 'Delete Faile,please try again！'
                                                });
                                                $('#dlg').dialog('close');
                                                // close the dialog
                                                $('#tt').datagrid('reload'); // reload the user data
                                            }
                                        }
                                    });
                                }
                            });
                        }
                        else {
                            $.messager.alert('Tips', 'At lease chooese one.');
                        }
                    }
                }]
            });
        };
        function fSaveData() {
            $('#dlg_form').form('submit', {
                url: vUrl,
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (sjson) {
                    var json = eval('(' + sjson + ')');
                    if (json.result == true) {
                        $.messager.show({
                            title: 'Success',
                            msg: json.msg ? json.msg : 'Operation Success！'
                        });
                        $('#dlg').dialog('close');     // close the dialog
                        $('#tt').datagrid('reload'); // reload the user data
                    } else {
                        $.messager.show({
                            title: 'Error',
                            msg: json.msg ? json.msg : 'Failed,please try again！'
                        });
                        $('#dlg').dialog('close');     // close the dialog
                    }
                },
                error: function () {
                    $.messager.show({
                        title: 'Error',
                        msg: json.msg ? json.msg : 'Failed,please try again！'
                    });
                    $('#dlg').dialog('close');     // close the dialog
                }
            });
        }

        function fSaveDataForBatch() {
            $('#dlg_formForBatch').form('submit', {
                url: vUrl,
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (sjson) {
                    var json = eval('(' + sjson + ')');
                    if (json.result == true) {
                        $.messager.show({
                            title: 'Success',
                            msg: json.msg ? json.msg : 'Operation Success！'
                        });
                        $('#dlg').dialog('close');     // close the dialog
                        $('#tt').datagrid('reload'); // reload the user data
                    } else {
                        $.messager.show({
                            title: 'Error',
                            msg: json.msg ? json.msg : 'Failed,please try again！'
                        });
                        $('#dlg').dialog('close');     // close the dialog
                    }
                },
                error: function () {
                    $.messager.show({
                        title: 'Error',
                        msg: json.msg ? json.msg : 'Failed,please try again！'
                    });
                    $('#dlg').dialog('close');     // close the dialog
                }
            });
        }
    </script>
</head>
<body>
    <div class="divForTable">
        <table id="tt" style="width: 100%; height: 600px; $(this).width() * 0.2;"></table>
    </div>
    <div id="dlg" class="easyui-dialog" style="width: 300px; height: 380px; padding: 5px 10px"
         data-options="closed:true,buttons:'#dlg-buttons',modal:true">
        <form id="dlg_form" method="post">
            <div class="fitem">
                <label> Name:</label>
                <input name="Name" id="Name" class="easyui-validatebox" required="true" />
                <input name="ProjectId" id="ProjectIdFroHidden" type="hidden" />
                <input name="GroupId" id="GroupIdFroHidden" type="hidden" />
                <input name="OrgId" id="OrgIdFroHidden" type="hidden" />
            </div>
            <div class="fitem">
                <label>Project:</label>
                <input id="ProjectID" name="ProjectID" class="easyui-combobox" data-options="valueField:'ID',textField:'Name',editable:false" />
            </div>
            <div class="fitem">
                <label>Password:</label>
                <input name="Password" id="Password" class="easyui-validatebox" />
            </div>
            <div class="fitem">
                <label>CommServerSn:</label>
                <input name="CommServerSn" id="CommServerSn" class="easyui-validatebox" />
            </div>
            <div class="fitem">
                <label>CardModel:</label>
                <input name="CardModel" id="CardModel" class="easyui-validatebox" />
            </div>
            <div class="fitem">
                <label>CardScreenCount:</label>
                <input name="CardScreenCount" id="CardScreenCount" class="easyui-numberbox" />
            </div>
            <div class="fitem">
                <label>CardPointCount:</label>
                <input name="CardPointCount" id="CardPointCount" class="easyui-numberbox" />
            </div>
            <div class="fitem">
                <label>IsDouble:</label>
                <select id="CardIsDouble" name="CardIsDouble" class="easyui-combobox" data-options="panelHeight:'auto',editable:false"
                        style="padding: 2px; width: 141px;">
                    <option value="1">Yes</option>
                    <option value="0" selected="selected">No</option>
                </select>
            </div>
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="fSaveData()">
            Save
        </a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel"
           onclick="javascript:$('#dlg').dialog('close')">
            Cancel
        </a>
    </div>
    <div id="dlgForBatch" class="easyui-dialog" style="width: 300px; height: 350px; padding: 5px 10px; overflow-y:scroll;"
         data-options="closed:true,buttons:'#dlgForBatch-buttons',modal:true">
        <form id="dlg_formForBatch" method="post">
            <div class="fitem">
                <label> Price1:</label>
                <input name="Price1" id="ContextForBatch" class="easyui-validatebox" />
                <input type="hidden" name="BatchIds" id="BatchIds" />
            </div>
            <div class="fitem">
                <label> Price2:</label>
                <input name="Price2" id="ContextForBatch" class="easyui-validatebox" />
            </div>
            <div class="fitem">
                <label> Price3:</label>
                <input name="Price3" id="ContextForBatch" class="easyui-validatebox" />
            </div>
            <div class="fitem">
                <label> Price4:</label>
                <input name="Price4" id="ContextForBatch" class="easyui-validatebox" />
            </div>
            <div class="fitem">
                <label> Price5:</label>
                <input name="Price5" id="ContextForBatch" class="easyui-validatebox" />
            </div>
            <div class="fitem">
                <label> Price6:</label>
                <input name="Price6" id="ContextForBatch" class="easyui-validatebox" />
            </div>
            <div class="fitem">
                <label> Price7:</label>
                <input name="Price7" id="ContextForBatch" class="easyui-validatebox" />
            </div>
            <div class="fitem">
                <label> Price8:</label>
                <input name="Price8" id="ContextForBatch" class="easyui-validatebox" />
            </div>
            <div class="fitem">
                <label> Price9:</label>
                <input name="Price9" id="ContextForBatch" class="easyui-validatebox" />
            </div>
            <div class="fitem">
                <label> Price10:</label>
                <input name="Price10" id="ContextForBatch" class="easyui-validatebox" />
            </div>
            <div class="fitem">
                <label> Price11:</label>
                <input name="Price11" id="ContextForBatch" class="easyui-validatebox" />
            </div>
            <div class="fitem">
                <label> Price12:</label>
                <input name="Price12" id="ContextForBatch" class="easyui-validatebox" />
            </div>
        </form>
    </div>
    <div id="dlgForBatch-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="fSaveDataForBatch()">
            Save
        </a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel"
           onclick="javascript: $('#dlgForBatch').dialog('close')">
            Cancel
        </a>
    </div>
</body>
</html>
