<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DefaultLanguage" value="ZH"/>
    <add key="languagelist_zh" value="中文-zh,英文-en,繁体-big"/>
    <add key="tcpportlist" value="10756"/>
    <add key="isruncenter" value="9854"/>
    <add key="isruncfgtool" value="89330"/>
    <add key="def_screencount" value="12"/>
    <add key="def_module" value="GS-888888"/>
    <add key="def_time_module" value="ts-HH:MM:SS/TT-U"/>
    <add key="def_isdouble" value="1"/>
    <add key="def_decinfo" value="0,0,0,0,0"/>
    <add key="def_brightness" value="1"/>
    <add key="def_vals" value="111,222,333,444,555,666"/>
    <add key="def_com" value="com3"/>
    <add key="def_id" value="1"/>
    <add key="def_commtype" value ="0"/>
    <add key="def_tcpdev_ip" value ="192.168.0.178"/>
    <add key="def_tcpdev_port" value ="7802"/>        
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  
    <connectionStrings>
      <add name="GLedDBEntities" connectionString="metadata=res://*/GlLedModel.csdl|res://*/GlLedModel.ssdl|res://*/GlLedModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=E:\Work\ProjectInSvn\g格莱光\src\发布\db\GLedDB.db3&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
  <!--<system.data>
    <DbProviderFactories>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite"  description=".NET Framework Data Provider for SQLite"  type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite,  Version=1.0.80.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139"  />
    </DbProviderFactories>
  </system.data>-->
</configuration>
